:root {
    --branding-color:#6c63ff;
    --secondary-color:#f9f7fe;
    --heading-font-family:"Playfair Display", serif;
    --default-font-family:'Poppins', sans-serif;
}

body{
    font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(0, 0, 0);
    font-family: var(--heading-font-family);
    font-weight: bold;
}

h1{
    font-size: 96px;
    line-height: 1,5;
}

h2{
    font-size: 64px;
} 

h4 {
    font-size: 40px;
}

p{
    font-weight: normal;
    font-size:16px;
    line-height: 30px;
}

.hero {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}

.hero h1{
    font-size: 100px;
    color: #272142;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #272142;
    margin-bottom: 20px;
}

.hero p {
   font-size: 36px;
   font-weight: bold;
   margin: 0;
   color: #272142;
}

.hero h2{
    font-family: var(--heading-font-family);
    font-weight: normal;
    line-height: 2;
    font-size: 24px;
}

.content-container {
    padding: 160px 20px;
}

.content-container h1{
    font-size: 64px;
    line-height: 80px;
    text-align: center;
}

.content-container h2{
    font-size: 18px;
    font-family: var(--default-font-family);
}

.content {
    margin: 30px;
}


.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-branding-outline {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.project-description{
padding: 120px 60px;
}

.logo{
    max-height: 60px;
}

nav {
    padding: 20px 0;
}

navbar-nav {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 60px;
    margin-left: 15px;
}

nav a {
   text-decoration: none;
   color: #272142;
   transition: all 100ms ease-in-out;
}


nav li.active a, nav a:hover {
    color: var(--branding-color);
}

footer {
    margin: 60px 0;
}

footer .contact-box {
    background-color: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 10px;
}

footer .contact-box p {
    margin: 0;
}

footer .email-link{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

footer .email-link:hover{
    color: var(--branding-color);
}

footer .social-links a {
    margin: 0 20px;
    color: var(--branding-color);
    background-color: var(--secondary-color);
    padding: 10px 14px;
    font-size: 20px;
    border-radius: 50%;
    transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
    color: white;
    background-color: var(--branding-color);
}

#crystal-img{
position:-ms-page;
width: 450px;
height: 560px;
left: 360px;
}

#weather-img {
position: inherit;
width: 560px;
height: 560px;
left: 50px;
}

#about-img {
    display: block;
    max-width: 100%;
    height: 300px;
    margin-top: 80px;
    margin-bottom: 50px;
    clip-path: circle(40%);
}


@media (max-width: 960px) {
h1 {
        font-size: 50px;
        line-height: 56px;
    }

h2 {
    font-size: 35px;
}

h4 {
    font-size: 19px;
}

nav a {
    font-size: 14px;
    }

.btn {
    font-size: 10px;
}

.hero {
    padding: 90px 20px;
}
.hero p {
    font-size: 20px;
}
.hero h2{
    font-weight: normal;
    line-height: 1.5;
    font-size: 18px;
}

.about-section {
    text-align: center;
    padding: 0;
}

.project-description{
    padding: 0;
    text-align: center;
}

#about-img {
    display: block;
    max-width: 100%;
    height: 200px;
margin: auto 0;
padding-left: 50px;
}

footer .contact-box {
    padding: 30px;

}
}

